@use "styles.scss" as *;

.login {
  @include centerMeColumn;
  justify-content: flex-start;
  gap: 10px;
  background-color: $background;
  height: 100vh;

  &__our-logo {
    width: 400px;
  }
  .login__spotify-logo-text {
    @include centerMeRow;
    gap: 20px;
    margin: 40px 0;
    label {
      font: 0.8rem;
      font-style: italic;
    }
    img {
      width: 180px;
      border-radius: 5px;
      height: auto;
    }
  }
  p {
    font-size: 1.4rem;
    margin-top: 40px;
    font-style: italic;
  }
  a {
    @include buttonLarge;
  }
}
