@use "styles.scss" as *;

audio::-webkit-media-controls-panel{
    background-color: $main-color;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 80px;

    .track-image{
        box-shadow: rgb(0 0 0 / 30%) 0px 0px 10px;
        max-width: 300px;

        img{
            width: 100%;
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .track-info{
        max-width: 300px;
    }
}