@font-face {
  font-family: 'Circular';
  src: url('../../assets/fonts/Circular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Bold';
  src: url('../../assets/fonts/Circular-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
