@use "./base/variables" as *;

@mixin centerMeColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@mixin centerMeRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin buttonLarge {
  border: none;
  background-color: $button-background-color;
  width: 328px;
  height: 52px;
  border-radius: 10px;
  color: $button-color;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}
@mixin buttonLabel {
  border: none;
  background-color: $button-background-color;
  width: 145px;
  height: 35px;
  border-radius: 10px;
  color: $button-color;
  font-size: 0.9rem;
  font-weight: 700;
  transition: 0.4s;
  cursor: pointer;
  &:hover {
    background-color: $button-color;
    color: $button-background-color;
    @include scale-up-center();
  }
}

@mixin scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.015);
    transform: scale(1.015);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.015);
    transform: scale(1.015);
  }
}

@mixin card-style($height, $width) {
  padding: 10px;
  height: $height;
  width: $width;
  background-color: $background-card;
  border-radius: 5px;
  transition: 0.4s;
  &:hover {
    cursor: pointer;
    @include scale-up-center();
    background-color: $background-hover;
  }
}
