$main-color: #1db954;
$font-color: whitesmoke;
$font-secondary-color: #b3b3b3;
$button-color: #fff;
$background: #181818;
$background-darker: rgb(8, 8, 8);
$background-card: #232323;
$background-hover: #393939;
