@forward "./base/variables";
@forward "./base/mixins";
@forward "./base/fonts";

@use "./base/variables" as *;

body {
  font: 18px "Circular";
  background-color: $background;
  color: $font-color;
}
p {
  color: $font-color;
}
h1,
h2 {
  margin: 30px 0 15px 0;
}
