@forward "./base/variables";
@forward "./base/mixins";
@forward "./base/fonts";

@use "./base/variables" as *;

body {
  font: 18px "Circular";
  background-color: $background;
  color: $font-color;
  margin: 0;
  padding: 0;
}
p {
  color: $font-color;
}
h1 {
  margin: 30px 0 5px 0;
}
h2 {
  margin: 30px 0 30px 0;
}
p {
  margin: 10px 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  &:link {
    color: $font-color;
  }
  &:visited {
    color: $font-color;
  }
  &:hover {
    color: $main-color;
  }
  &:active,
  &:visited:active {
    color: $main-color;
  }
}

em {
  color: $main-color;
}

* {
  animation: fadein 0.25s;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}

.swal2-modal {
  border-radius: 15px;
  // border: 1px solid $main-color !important;
  background-size: 100vh;
}

.swal2-popup {
  background: $background-card !important;
  box-shadow: 0px 1px 3px 1px $main-color;
  width: 350px !important;
}
.swal2-title {
  color: $main-color !important;
  font-size: 1.8rem !important;
}
.swal2-icon {
  width: 3.5em !important;
  height: 3.5em !important;
}
.swal2-icon .swal2-icon-content {
  font-size: 2.5em !important;
}
.swal2-styled.swal2-cancel,
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-deny {
  font-family: inherit !important;
  font-weight: bold !important;
  border-radius: 5px;
  padding: 6px 10px;
  min-width: 100px;
  margin: 0px 30px;
}
.swal2-styled.swal2-confirm {
  box-shadow: 0px 0.3px 2px 0px $background-card !important;
  transition: 0.7s;
  &:hover {
    color: #3085d6 !important;
    background: #ffffff !important;
  }
}
.swal2-styled.swal2-cancel {
  box-shadow: 0px 0.3px 2px 0px $background-card !important;
  transition: 0.7s;
  &:hover {
    background: #f0f0f0 !important;
    color: #db1c1c !important;
  }
}
