<div class="main">
    <div class="profile-top">
        <div class="user-avatar">
          <img [src]="(artistInfo$ | async)?.images?.[0]?.url" />
        </div>
        <div class="user-username">
          <h1>{{ (artistInfo$ | async)?.name }}</h1>
        </div>
        <div class="user-followers">
          <p class="user-followers-count">
            {{ (artistInfo$ | async)?.followers?.total | number:'1.0':'en-US' }}
          </p>
          <p class="user-followers-text">{{ (artistInfo$ | async)?.followers!.total > 1 ? 'Followers' : 'Follower'}}</p>
        </div>
        <a (click)="handleFollowClick()" [ngClass]="{'unFollow-button':(artistInfo$ | async)?.isFollowing, 'follow-button': !(artistInfo$ | async)?.isFollowing}">{{(artistInfo$ | async)?.isFollowing ? 'Unfollow' : 'Follow'}}</a>
        <div>
            <div class="artist-genders">
                <div
                *ngFor="
                  let genre of (artistInfo$ | async)?.genres;
                  let i = index">
                <label
                  *ngIf="i === ((artistInfo$ | async)?.genres)!.length - 1"
                >
                  {{ genre }}</label
                >
                <label *ngIf="i < ((artistInfo$ | async)?.genres)!.length - 1">
                  {{ genre }}&nbsp;&nbsp;▪&nbsp;&nbsp;
                </label>
                </div>
            </div>
            <p class="user-followers-text">Genres</p>
        </div>
    </div>
    <div class="albums-container">
      <div class="arrows-container">
        <h2>Albums</h2>
        <div class="main__previous-next-container">
          <button
            title="Previous"
            (click)="goToPreviousAlbums()"
            [disabled]="!ArtistsAlbumsPrevious"
          >
            &#8249;
          </button>
          <button
            title="Next"
            (click)="goToNextAlbums()"
            [disabled]="!ArtistsAlbumsNext"
          >
            &#8250;
          </button>
        </div>
      </div>
      <div class="albums-cards">
        <div
          *ngFor="let album of (artistAlbums$ | async)?.items"
          class="album-card"
          [id]="album.id">
          <img [src]="album.images[0].url" alt="" />
          <div class="album-title-artists-container">
            <label class="main__album-name">{{ album.name }}</label>
            <div class="main__album-artists">
              <label *ngFor="let artist of album.artists">{{
                artist.name
              }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
