@use "styles.scss" as *;
@use "./base/variables" as *;

.main-track-card {
  @include centerMeColumn;
  gap: 10px;
  @include card-style(180px, 165px);
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  .track-title-container {
    @include centerMeColumn;
    width: 100%;

    .track-info {
      display: flex;
      align-items: center;
    }

    label {
      cursor: pointer;
      font-size: 0.9rem;
      color: $font-secondary-color;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150px;
    }

    .track-name {
      font-weight: bold;
      font-size: 0.9rem;
    }

    .follow-button,
    .unFollow-button {
      text-align: center;
      text-decoration: none;
      background-color: $main-color;
      border-radius: 3px;
      width: 100px;
      color: $button-color;
    }

    .unFollow-button {
      background-color: red;
    }
  }
}
@media only screen and (max-width: 768px) {
  .main-track-card {
    @include card-style(140px, 125px);
    img {
      width: 115px;
      height: 115px;
    }
    .track-title-container {
      label {
        width: 115px;
      }
      .track-name {
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }
}
