<div class="album">
  <div *ngIf="album$ | async as album" class="album-container">
    <div class="album__image-data-container">
      <div class="album__image-container">
        <img [src]="album.images[0].url" alt="" />
      </div>
      <div class="album__data-container">
        <div class="album__type-heart-container">
          <div class="album__type">
            {{ album.album_type | uppercase }}
          </div>
          <div class="album__heart">
            <img
              [src]="following ? saveOn : saveOff"
              alt=""
              title="Save or remove this album"
              (click)="saveRemoveAlbum(album.id)"
            />
          </div>
        </div>
        <div class="album__title">
          {{ album.name }}
        </div>
        <div class="album__artists-year-songs">
          <div>
            <div *ngIf="album.artists.length === 1" class="album__artists">
              {{ album.artists[0].name }}
            </div>
            <div *ngIf="album.artists.length > 1" class="album__artists">
              <div *ngFor="let artist of album.artists; let i = index">
                <label *ngIf="i === album.artists.length - 1">
                  {{ artist.name }}</label
                >
                <label *ngIf="i < album.artists.length - 1">
                  {{ artist.name }}&nbsp;&nbsp;▪&nbsp;&nbsp;
                </label>
              </div>
            </div>
          </div>
          <div class="album__year">
            &nbsp;&nbsp;▪&nbsp;&nbsp;{{
              album.release_date | date : "yyyy"
            }}&nbsp;&nbsp;▪&nbsp;&nbsp;
          </div>
          <div class="album__songs">
            <div *ngIf="album.tracks.items.length === 1">
              {{ album.tracks.items.length }} song
            </div>
            <div *ngIf="album.tracks.items.length > 1">
              {{ album.tracks.items.length }} songs
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="album__tracks-container">
      <table>
        <tr>
          <th>#</th>
          <th>Track Name</th>
          <th>Artists</th>
          <th>Duration</th>
        </tr>
        <tr *ngFor="let track of album.tracks.items">
          <td>{{ track.track_number }}</td>
          <td>
            <a (click)="goToTrack(track.id)">{{ track.name }}</a>
          </td>
          <td>
            <div *ngIf="track.artists.length === 1" class="track__artists">
              <a>{{
                track.artists[0].name
              }}</a>
            </div>
            <div *ngIf="track.artists.length > 1" class="track__artists">
              <div *ngFor="let artist of track.artists; let i = index">
                <label *ngIf="i === track.artists.length - 1">
                  <a>{{
                    artist.name
                  }}</a></label
                >
                <label *ngIf="i < album.artists.length - 1">
                  <a>{{ artist.name }}</a
                  >&nbsp;&nbsp;▪&nbsp;&nbsp;
                </label>
              </div>
            </div>
          </td>
          <td>{{ track.duration_ms | date : "mm:ss" }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
