<h1>Welcome!</h1>
<app-main-page
  [genresList]="currentGenres"
  [genresPrevious]="genresPrevious"
  [genresNext]="genresNext"
  (genresNextClick)="genresNextClick()"
  (genresPreviousClick)="genresPreviousClick()"
  [categoriesList]="categories"
  [categoriesPrevious]="!!categoriesPrevious"
  [categoriesNext]="!!categoriesNext"
  (categoriesNextClick)="categoriesNextClick()"
  (categoriesPreviousClick)="categoriesPreviousClick()"
  [newReleasesList]="newReleases"
  [newReleasesPrevious]="!!newReleasesPrevious"
  [newReleasesNext]="!!newReleasesNext"
  (newReleasesNextClick)="newReleasesNextClick()"
  (newReleasesPreviousClick)="newReleasesPreviousClick()"
  [featuredPlaylistsList]="featuredPlaylists"
  [featuredPlaylistsPrevious]="!!featuredPlaylistsPrevious"
  [featuredPlaylistsNext]="!!featuredPlaylistsNext"
  (featuredPlaylistsNextClick)="featuredPlaylistsNextClick()"
  (featuredPlaylistsPreviousClick)="featuredPlaylistsPreviousClick()"
>
</app-main-page>
