<h1>
  <i
    >Welcome <em *ngIf="username$ | async as username">{{ username }}</em></i
  >
</h1>
<app-main-page
  [genresList]="currentGenres"
  [genresPrevious]="genresPrevious"
  [genresNext]="genresNext"
  (goToGenreClick)="goToGenre($event)"
  (genresNextClick)="genresNextClick()"
  (genresPreviousClick)="genresPreviousClick()"
  [categoriesList]="categories"
  [categoriesPrevious]="!!categoriesPrevious"
  [categoriesNext]="!!categoriesNext"
  (categoriesNextClick)="categoriesNextClick()"
  (categoriesPreviousClick)="categoriesPreviousClick()"
  [newReleasesList]="newReleases"
  [newReleasesPrevious]="!!newReleasesPrevious"
  [newReleasesNext]="!!newReleasesNext"
  (newReleasesNextClick)="newReleasesNextClick()"
  (newReleasesPreviousClick)="newReleasesPreviousClick()"
  (goToAlbumClick)="goToAlbum($event)"
  [featuredPlaylistsList]="featuredPlaylists"
  [featuredPlaylistsPrevious]="!!featuredPlaylistsPrevious"
  [featuredPlaylistsNext]="!!featuredPlaylistsNext"
  (featuredPlaylistsNextClick)="featuredPlaylistsNextClick()"
  (featuredPlaylistsPreviousClick)="featuredPlaylistsPreviousClick()"
  (goToAlbumClick)="goToAlbum($event)"
  (goToPlaylistClick)="goToPlaylist($event)"
  (goToCategoryClick)="goToCategory($event)"
>
</app-main-page>
