@use "styles.scss" as *;

:host {
  width: 80%;
  min-width: 200px;
  max-width: 300px;
}
.sidebar {
  background-color: $background-darker;
  @include centerMeColumn;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px 0;
  min-height: 100vh;
  .sidebar__main-nav-container {
    @include centerMeColumn;
    width: 100%;
  }
  &__image-container {
    img {
      width: 60px;
    }
  }
  &__nav-link {
    @include centerMeColumn;
    width: calc(100% - 5px);
    height: 60px;
    font-size: 1rem;
    &-active {
      background-color: $background;
      border: none;
      border-left: 10px solid $main-color;
    }
  }
  hr {
    margin: 0;
    padding: 0;
    width: 65%;
    border: 1px groove $font-secondary-color;
  }
  &__my-playlists {
    font-size: 1rem;
  }
}
