<div class="sidebar">
  <div class="sidebar__image-container">
    <img src="../../../../assets/images/logo.png" />
  </div>
  <div class="sidebar__text-logo-container">
    <img [src]="textLogo" alt="SpotiBy us" />
  </div>
  <div class="sidebar__main-nav-container">
    <a
      class="sidebar__nav-link"
      routerLink="/home"
      routerLinkActive="sidebar__nav-link-active"
      >Home</a
    >
    <a
      class="sidebar__nav-link"
      routerLink="/search"
      routerLinkActive="sidebar__nav-link-active"
      >Search</a
    >
    <a
      class="sidebar__nav-link"
      routerLink="/myMusic"
      routerLinkActive="sidebar__nav-link-active"
      >My Music</a
    >
    <a
      class="sidebar__nav-link"
      routerLink="/following"
      routerLinkActive="sidebar__nav-link-active"
      >Following</a
    >
    <a
      class="sidebar__nav-link"
      routerLink="/profile"
      routerLinkActive="sidebar__nav-link-active"
      >My Profile</a
    >
  </div>
</div>
