<div class="sidebar">
  <div class="sidebar__image-container">
    <img src="../../../../assets/images/logo.png" />
  </div>
  <div>SpotyBy-us</div>
  <div class="sidebar__main-nav-container">
    <a
      class="sidebar__nav-link"
      routerLink="/home"
      routerLinkActive="sidebar__nav-link-active"
      >Home</a
    >
    <a
      class="sidebar__nav-link"
      routerLink="/search"
      routerLinkActive="sidebar__nav-link-active"
      >Search</a
    >
    <a
      class="sidebar__nav-link"
      routerLink="/myMusic"
      routerLinkActive="sidebar__nav-link-active"
      >My Music</a
    >
    <a
      class="sidebar__nav-link"
      routerLink="/profile"
      routerLinkActive="sidebar__nav-link-active"
      >My Profile</a
    >
  </div>
  <hr />
  <div class="sidebar__my-playlists">My Playlists:</div>
</div>
