@use "styles.scss" as *;

:host {
  width: 80%;
  min-width: 200px;
}
.sidebar {
  @include centerMeColumn;
  justify-content: flex-start;
  padding: 20px 0;
  gap: 20px;
  min-height: 100vh;
  &__image-container {
    img {
      width: 60px;
    }
  }

  &__nav-link-active {
    color: $button-background-color;
    border-radius: 5px;
  }
}
