@use "styles.scss" as *;
.main {
  @include centerMeColumn;
  margin: 30px 0 15px 0;
  width: 800px;
}

.profile-top {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;

  .user-avatar {
    margin-top: 10px;
    width: 150px;
    height: 150px;

    img {
      margin: 0 auto;
      border-radius: 100%;
      width: 100%;
      height: 150px;
      object-fit: cover;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .user-followers {
    text-align: center;

    .user-followers-count {
      font-weight: 700;
      font-size: 20px;
      color: rgb(29, 185, 84);
    }

    .user-followers-text {
      color: rgb(155, 155, 155);
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 5px;
    }
  }
}
.top-artist,
.top-tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artists-card {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.title-arrows-container {
  @include centerMeRow;
  justify-content: space-between;
  width: 780px;
  .previous-next-container {
    @include centerMeRow;
    justify-content: right;
    gap: 35px;
    button {
      background: transparent;
      border: none;
      color: $button-color;
      font: 2.4rem "Circular";
      line-height: 0.5rem;
      cursor: pointer;
      &:disabled {
        color: $background-hover;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    width: 300px;
  }
  .title-arrows-container {
    width: 300px;
    gap: 10px;
    .previous-next-container {
      gap: 10px;
      button {
        font: 1.8rem "Circular";
      }
    }
  }
  .artists-card {
    width: 300px;
  }
}
