@use "styles.scss" as *;

.my-music-container {
  @include centerMeColumn;
  align-items: flex-start;
  margin: 30px 0 30px 0;
  width: 800px;
  gap: 10px;
}
.my-music__title-arrows-container {
  @include centerMeRow;
  justify-content: space-between;
  width: 780px;
  .my-music__previous-next-container {
    @include centerMeRow;
    justify-content: right;
    gap: 35px;
    button {
      background: transparent;
      border: none;
      color: $button-color;
      font: 2.4rem "Circular";
      line-height: 0.5rem;
      cursor: pointer;
      &:disabled {
        color: $background-hover;
      }
    }
  }
}

.my-music__album-container {
  @include centerMeColumn;
  align-items: flex-start;
  width: 100%;
  .my-music__album-cards {
    @include centerMeRow;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    width: 800px;
    height: 350px;
    overflow: hidden;
    .my-music__album-card {
      @include centerMeRow;
      justify-content: space-between;
      @include card-style(90px, 230px);
      &:hover {
        cursor: default;
      }
      img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
      }
      .my-music__album-title-artists-container {
        @include centerMeColumn;
        justify-content: space-evenly;
        height: 100%;
        .my-music__heart {
          @include centerMeRow;
          justify-content: flex-end;
          width: 100%;
          img {
            width: 25px;
            height: 25px;
          }
        }
        label {
          cursor: default;
          font-size: 0.8rem;
          color: $font-secondary-color;
          text-align: left;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 130px;
        }
        .my-music__album-name {
          font-weight: bold;
          font-size: 0.9rem;
          cursor: pointer;
        }
        .my-music__album-artists {
          @include centerMeColumn;
          gap: 3px;
        }
      }
    }
  }
}

.album__image-data-container {
  @include centerMeRow;
  background: rgb(152, 157, 165);
  background: linear-gradient(
    180deg,
    rgb(146, 153, 167) 0%,
    rgb(96, 99, 115) 38%,
    rgba(24, 24, 24, 1) 100%
  );
  padding: 20px;
  width: calc(800px - 40px);
  border-radius: 3px;
  gap: 15px;
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
  }
  .album__data-container {
    width: 540px;
    @include centerMeColumn;
    align-items: flex-start;
    gap: 25px;
    .album__type-heart-container {
      @include centerMeRow;
      padding-right: 10px;
      justify-content: space-between;
      width: 100%;
      color: $font-secondary-color;
      .album__type {
        font-size: 1.1rem;
      }
      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
    .album__title {
      font-size: 4rem;
      text-size-adjust: auto;
      font-family: "Circular Bold";
      letter-spacing: -2px;
      line-height: 1;
    }
  }
}
.album__artists-year-songs {
  @include centerMeRow;
  padding-left: 10px;
  color: $font-secondary-color;
  font-size: 1.4rem;
  .album__artists {
    @include centerMeRow;
    color: $main-color;
  }
}

.album__tracks-container {
  scroll-behavior: smooth;
  table {
    width: calc(800px - 20px);
    padding: 0px 10px;
    font-size: 0.9rem;
    text-align: center;
    border-spacing: 0;
    tr th {
      padding: 10px 5px;
      border-bottom: 1px solid $font-tertiary-color;
      color: $font-tertiary-color;
    }
    tr td {
      padding: 10px 5px;
      border-bottom: 1px groove $font-tertiary-color;
      color: $font-secondary-color;
      &:nth-child(2) {
        font-weight: bold;
      }
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    .track__artists {
      @include centerMeRow;
    }
    .my-music__track-name {
      max-width: 300px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .my-music-container {
    align-items: center;
    width: 300px;
    gap: 0;
  }
  .album__image-data-container {
    @include centerMeColumn;
    width: calc(300px - 40px);
    img {
      width: 150px;
      height: 150px;
    }
    .album__data-container {
      width: 300px;
      align-items: center;
      gap: 15px;
      .album__type-heart-container {
        @include centerMeRow;
        padding-right: 0;
        .album__type {
          font-size: 1.1rem;
          text-align: center;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
      .album__title {
        font-size: 2.3rem;
        text-align: center;
      }
    }
  }
  .my-music__title-arrows-container {
    width: 300px;
    .my-music__previous-next-container {
      gap: 10px;
      button {
        font: 1.8rem "Circular";
      }
    }
  }
  .my-music__album-container {
    align-items: center;
    width: auto;
    .my-music__album-cards {
      @include centerMeRow;
      gap: 10px;
      align-content: center;
      width: 300px;
      height: auto;
      .my-music__album-card {
        @include centerMeRow;
        justify-content: space-around;
        .my-music__album-title-artists-container {
          height: 100%;
          .my-music__heart {
            img {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
  .album__tracks-container {
    @include centerMeColumn;
    align-items: center;
    table {
      align-items: flex-start;
      padding-left: 0;
      width: 350px;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
