@use "styles.scss" as *;
@use "./base/variables" as *;

.main-artist-card {
  @include card-style(180px, 140px);
  @include centerMeColumn;
  justify-content: space-between;
  gap: 5px;
  img {
    width: 125px;
    height: 125px;
    min-height: 125px;
    border-radius: 3px;
    object-fit: cover;
  }
  .artist-title-artists-container {
    @include centerMeColumn;
    gap: 10px;
    height: 100%;
    width: 100%;

    .artist-info {
      display: flex;
      align-items: center;
    }

    label {
      cursor: pointer;
      font-size: 0.9rem;
      color: $font-secondary-color;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150px;
    }

    .artist-name {
      font-weight: bold;
      font-size: 0.9rem;
    }

    .follow-button,
    .unFollow-button {
      text-align: center;
      text-decoration: none;
      background-color: $main-color;
      border-radius: 3px;
      width: 100px;
      color: $button-color;
    }

    .unFollow-button {
      background-color: red;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-artist-card {
    @include centerMeColumn;
    gap: 10px;
    .artist-title-artists-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      .artist-info {
        display: flex;
        align-items: center;
      }

      label {
        font-size: 0.8rem;
        color: $font-secondary-color;
      }

      .artist-name {
        font-weight: bold;
        font-size: 0.9rem;
      }
    }
  }
}
